
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Montserrat:wght@200&family=News+Cycle&family=Roboto:wght@300&family=Rubik&family=Spline+Sans:wght@400;500&display=swap');


#container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72em;
    margin: auto;
    margin-bottom: 5%;
}

#container {
    /* background-color: rgb(241, 241, 241); */
    width: 100%;
    /* height: 520px; */
    /* padding: 0 2%; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Spline Sans', sans-serif;
    
    font-size: 12px;
}

#sign_in_heading {
    /* letter-spacing: 1.5px; */
    /* margin: 2% 0 0 2%; */
    font-size: 25px;
    /* font-weight: 100; */
}

#container > div {
    width: 30%;
    height: 100%;
    /* border: solid; */
    padding: 1%;
}

.form > input{
    width: 98%;
    height: 30px;
    margin-top: 1%;
    padding-left: 3%;
    font-size: 12px;
    border: 1px rgb(192, 192, 192) solid;
    border-radius: 2px;
    
}

.form > input:focus {
    box-shadow: rgba(34, 126, 231, 0.35) 0px 5px 10px;
    border: 1px solid rgb(34, 126, 231);
    outline: none;
}

#left input {
    margin-top: 3%;
}

#footer a {
    display: block;
    text-decoration: none;
    color: black;
}

#footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    /* border: solid; */
}

#footer a:hover {
    color: rgb(80, 80, 151);
    text-decoration: underline;
}

#sign_in , #middle_sign_in, #left_sign_in{
    width: 30%;
    background-color: rgb(209, 32, 62);
    color: white;
    /* text-align: left; */
    /* padding-left: 4%; */
    height: 35px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 4px;
    font-size: 16px;
}

#middle_sign_in:hover, #left_sign_in:hover {
    background-color: rgb(211, 46, 73);
}

.container_heading {
    /* border: solid; */
    font-weight: 700;
    margin-bottom: 25px;
}

hr {
    background-color: rgb(218, 218, 218);
    border: 0.5px solid rgb(218, 218, 218);
}

.wrong_left_mail , .wrong_left_pass, #wrongDetails, #wrong_middle_first_name, #wrong_middle_last_name, #wrong_middle_email, #wrong_middle_pass1, #wrong_middle_pass2, #wrong_gender{
    color: red;
    font-size: x-small;
}

#right img:hover{
    cursor: pointer;
}